.user--footer{
    background-color: $color-black-2;
    color: white;
    padding: 20px 0;
    position: relative;
    .user--footer__line{
        img{
            position: absolute;
            transform: rotateX(180deg) translate(-50%,-50%);
            left: 50%;
            top:-13.5%;
            z-index: 1;
        }
    }
    .user--footer__content{
        border-bottom: 1px solid $color-gray-0;
        color: $color-gray-0;
        h4{
            color: $color-gray-1;
        }
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: 5px 0;
                cursor: pointer;
                .icon{
                    margin-right: 5px;
                }
                img{
                    width: 130px;
                    height: 40px;
                }
            }
        }
    }
    .user--footer__address{
        padding: 10px 0;
        p{
            margin-bottom: 0;
            img{
                margin-right: 10px;
            }
        }
    }
}

@media screen and (min-width:551px) and (max-width:1220px){
    .user--footer{
        .user--footer__line{
            img{
                top:-10%;
            }
        }
    }
}

@media screen and (max-width:550px){
    .user--footer{
        .user--footer__line{
            img{
                top:-11%;
            }
        }
    }
    .user--footer__content{
        border-bottom: 1px solid $color-gray-0;
        color: $color-gray-0;
        h4{
           font-size:$fs-1;
        }
        ul{
            font-size:$fs-0;
            list-style: none;
            padding: 0;
            li{
                padding: 5px 0;
                img{
                    width: 90px;
                    height: 20px;
                }
            }
        }
    }
    .user--footer__address{
        padding: 10px 0;
        p{
            margin-bottom: 0;
            font-size:$fs-0;
            img{
                margin-right: 10px;
            }
        }
    }

}