.user--datve{
    background-color: $color-black-2;
    padding: 55px 0;
    color: $color-white-0;
    .user--datve__header{
        background-color:$color-green-1;
        ul{
            list-style: none;
            padding: 10px 10px;
            display: flex;
            justify-content: space-between;
            li{
                color: $color-white-0;
                font-size: $fs-0;
            }
        }
    }
    .user--datve__chitietphim__content{
        img{
            margin-right: 25px;
        }
        .thongtinchitiet{
            h4{
                color:$color-green-1;
            }
        }
    }
    .user--datve__chonghe{
        h3{
            padding: 25px 0;
            color:$color-green-1;
        }
        .user--datve__chuthich{
            text-align: center;
            padding: 15px 0;
            span{
                i{

                    padding: 0 15px;
                    font-size: 20px;
                }
            }
        }
        .user--datve__ghe{
            background-color: $color-blue-5;
            padding: 25px 15px;
            max-height: 580px;
            max-width: 61%;
            float: left;
            .vitri--manhinh{
            border-bottom: 40px solid #bcbba7;
            border-left: 144px solid transparent;
            border-right: 150px solid transparent;
            height: 0;
            width: 100%;
            filter: drop-shadow(0 0 10px #FFFFFF);
            color: white;
            text-align: center;
            }
            .vitri--ghe{
                margin: 15px 0;
                .ghe--ngoi{
                    width: 30px;
                    height: 30px;
                    margin: 5px;
                    font-size: 12px; 
                    padding: 0;
                    color: $color-white-0;
                    background-color: $color-gray-1;
                }
                .gheVip{
                    background-color: $color-orange-0;
                }
                .gheDaDat {
                    background-color: $color-red-0;
                    cursor: no-drop !important;
                }
                .gheDangDat {
                    background-color: $color-green-2;
                    cursor: pointer;
                }
            }
        }
        .user--dadat{
            width: 39%;
            float: left;
            .user--dadat__phuongThucTT{
                input{
                    cursor: pointer;
                }
                span{
                    margin: 0 5px;
                    font-size: 20px;
                    
                }
            }
            .user--huydatve{
                margin-left: 5px;
                color: red;
                cursor: pointer;
            }
            .user--datve__tinhtien{
                border-top: 1px solid $color-green-1;
                padding: 15px 0;
            }
        }
        
        .user--datve__time{
            font-size: $fs-4;
        }
     
    }
}

//USER--TIMEUP

.user--timeup{
    background-color:$color-black-1 ;
    text-align: center;
    padding: 150px 0;
    h1{
        color:$color-green-2;
    }
    h3{
        color: $color-white-0;
    }
    button{
        padding: 5px 35px;
        margin-top: 25px;
    }
}