.user--promotion{
    padding: 55px 0;
    h3{
        text-align: center;
        color: $color-green-1;
    }
    img{
        width: 100%;
        height: 245px;
    }
    .slick-prev,.slick-next{
        display: none !important;
    }
    .slick-dots{
        padding-bottom: 5px;
        li{
            button{
                &::before{
                    color: $color-green-1;
                    font-size: $fs-0;
                }
            }
        }
    }
}

@media screen and (max-width:550px) {
    .user--promotion{
        padding-top: 30px;
        h3{
            font-size: $fs-2;
        }
    }
}