.admin--footer{
    width: 88%;
    float: right;
    padding-left: 15px;
    background-color: $color-gray-2;
    display:flex;
    justify-content: space-between;
    .admin--footer__content{
        ul{
            list-style: none;
            margin-bottom: 0 !important;
            li{
              display: inline;
              margin-right: 10px;
              
            }
        }
    }
}