.header{
    float: left;
    width: 88%;
    background-color: $color-gray-2;
    .header--navbar{
        .header--navbar__icon{
            width: 200px;
            span{
                margin-right: 10px;
                padding: 5px 7px;
                cursor: pointer;
                border: 2px solid $color-blue-1;
                border-radius: 50%;
                color: $color-blue-1;
            }
            .icon--setting{
                border: 2px solid $color-black-1;
                border-radius: 50%;
                color: $color-gray-0;
                background-color: $color-gray-2;
                outline: none;
            }
           
        }
        a{
            color: $color-black-0;
            text-decoration: none;
        }

    }
    
}