.user--header__snow{
   height: 500px;
   width: 100%;
   position: absolute;
   animation: snow 20s linear infinite;
   z-index: 99999;
   pointer-events: none;
}


/* The animation code */
@keyframes snow {
  0%   {background-position: 0px 0px,0px 0px,0px 0px;}
100%   {background-position: 500px 800px,400px 400px,299px 299px;}
}

