//variables color
$color-white-0: #FFFFFF;
$color-white-1:#f6f6f6;
$color-blue-0:#0276b3;
$color-blue-1:#30a3e8;
$color-blue-2:rgba(6,120,188,0.5);
$color-blue-3:#102b4e;
$color-blue-4:#2096cd;
$color-blue-5: #14252d;
$color-gray-0:#616161;
$color-gray-1:#a39f9f;
$color-gray-2:#E5E9EC;
$color-black-0:#333333;
$color-black-1:#242424;
$color-black-2: #111111;
$color-black-3:#11202b;
$color-red-0:#d92e14;
$color-orange-0: rgb(247, 79, 18);
$color-purple-0 :#bd59d4;
$color-purple-1 :#4b2354;
$color-yellow-0 : #ffff78;
$color-green-0: #bcff78;
$color-green-1: #6ab034;
$color-green-2: #42af33;
//variables font-size
$fs-0: 12px;
$fs-1: 16px;
$fs-2: 24px;
$fs-3: 30px;
$fs-4: 42px;
$fs-5: 55px;


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 500;
$fw-bold-1: 700;
$fw-bold: bold;

//variable padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
$mg-3: 35px;
$mg-4: 55px;

//variable border-radius
$border-radius-1: 2px;
$border-radius-2: 5px;